<div id="news_{$name}"></div>
<div class="newsmsg_area" id="newsmsg_area_{$name}">
    <input type="hidden" name="{$name}" value="{$value}"/>
    <a class="select_newsmsg" href="javascript:;" onClick="$.WeiPHP.openSelectNewsMsg('{:U('material/Material/material_data')}',selectNewsMsgCallback)">选择图文</a>
    <div class="newsmsg_wrap">
      {if condition="$count==1"}
        <!-- 单图文 -->
            <div class="newsmsg_item">
                <h6>{$main.title}</h6>
                <p class="title">{$main.cTime|time_format}</p>
                <div class="main_img">
                    <img src="{$main.cover_id|get_cover_url}"/>
                </div>
                <p class="desc">{$main.intro}</p>
            </div>
            <div class="hover_area"></div>
        {elseif condition="$count > 1" }
        <!-- 多图文 -->
            <div class="newsmsg_item">
                <p class="title">{$main.cTime|time_format}</p>
                <div class="main_img">
                    <img src="{$main.cover_id|get_cover_url}"/>
                    <h6>{$main.title}</h6>
                </div>
                <p class="desc">{$main.intro}</p>
            </div>
            {volist name="list" id="vv"}
            <div class="newsmsg_sub_item">
                <p class="title">{$vv.title}</p>
                <div class="main_img">
                    <img src="{$vv.cover_id|get_cover_url}"/>
                </div>
            </div>
            {/volist}
            <div class="hover_area"></div>
        {/if}    
    </div>
    <a class="delete" href="javascript:;">删除</a>
</div>

 <script type="text/javascript">
$('.msg_tab .newsmsg').click(function(){
	//图文消息
	$(this).addClass('current').siblings().removeClass('current');
	$('input[name="msg_type"]').val('newsmsg');
	$('#newsmsg_area_{$name}').show().siblings().hide();
})
$('.newsmsg_area .delete').click(function(){
	$('.newsmsg_wrap').html('').hide();
	$('.select_newsmsg').show();
	$('.newsmsg_area .delete').hide();
	$('input[name="{$name}"]').val(0);
})
function selectNewsMsgCallback(_this){
	$('.newsmsg_wrap').html($(_this).html()).show();
	$('.select_newsmsg').hide();
	$('.newsmsg_area .delete').show();
	$('input[name="{$name}"]').val($(_this).data('id'));
	$.Dialog.close();
}
$(function(){
	var val = $('input[name="{$name}"]').val();
	if(val!=''){
		$('.newsmsg_wrap').show();
		$('.select_newsmsg').hide();
		$('.newsmsg_area .delete').show();
	}else{
		$('.newsmsg_wrap').hide();
		$('.select_newsmsg').show();
		$('.newsmsg_area .delete').hide();		
	}
})
</script> 