{volist name="tree" id="list"}
	<dl class="cate-item">
		<dt class="cf">
			<form action="{:U('edit')}" method="post">
				<div class="btn-toolbar opt-btn cf">
					<a title="编辑" href="{:U('edit?id='.$list['id'].'&pid='.$list['pid'])}">编辑</a>&nbsp;&nbsp;&nbsp;
					<a title="删除" href="{:U('del?id='.$list['id'])}" class="confirm ajax-get">删除</a>
				</div>
				<div class="fold"><i></i></div>
				
				<div class="name">
					<span class="tab-sign"></span>
					<input type="hidden" name="id" value="{$list.id}">
					<input type="text" name="title" class="text" value="{$list.title}">
					<a class="add-sub-cate" title="添加子分类" href="{:U('add?pid='.$list['id'])}">
						<i class="icon-add"></i>
					</a>
					<span class="help-inline msg"></span>
				</div>
			</form>
		</dt>
		{notempty name="list['_']"}
			<dd>
				{:W('common/Category/tree', array('tree' => $list['_']))}
			</dd>
		{/notempty}
	</dl>
{/volist}